<template>
  <v-container>
    <v-row>
      <v-col cols="2">
        <h3>Filtrar por:</h3>
      </v-col>
      <v-col cols="2">
        <v-list>
          <v-list-group :value="false">
            <template v-slot:activator>
              <v-list-item-title>Genero</v-list-item-title>
            </template>
            <v-list-item link>
              <v-list-item-title v-on:click="Genders('F')">Femenino</v-list-item-title>
            </v-list-item>
            <v-list-item link>
              <v-list-item-title v-on:click="Genders('M')">Masculino</v-list-item-title>
            </v-list-item>
          </v-list-group>
        </v-list>
      </v-col>
      <v-col cols="3">
        <v-list>
          <v-list-group :value="false">
            <template v-slot:activator>
              <v-list-item-title>Estado</v-list-item-title>
            </template>
            <v-list-item v-for="status in statusCov" link>
              <v-list-item-title v-text="status" v-on:click="GraphStates(status)"></v-list-item-title>
            </v-list-item>
          </v-list-group>
        </v-list>
      </v-col>
      <v-col cols="3">
        <v-list>
          <v-list-group :value="false">
            <template v-slot:activator>
              <v-list-item-title>Ciudad</v-list-item-title>
            </template>
            <v-list-item v-for="city in cities" link>
              <v-list-item-title v-text="city" v-on:click="GraphCities(city)"></v-list-item-title>
            </v-list-item>
          </v-list-group>
        </v-list>
      </v-col>
      <v-col cols="2">
        <v-btn outlined color="indigo" v-on:click="ShowData()">Buscar</v-btn>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-card class="mx-auto" tile v-if="show === true">
          <v-list flat>
            <v-subheader>Datos</v-subheader>
            <v-list-item-group>
              <v-list-item v-for="datas in statusList">
                <v-list-item-content>
                  <v-list-item-title v-text="datas.id"></v-list-item-title>
                </v-list-item-content>
                <v-list-item-content>
                  <v-list-item-title v-text="datas.estado"></v-list-item-title>
                </v-list-item-content>
                <v-list-item-content>
                  <v-list-item-title v-text="datas.atencion"></v-list-item-title>
                </v-list-item-content>
                <v-list-item-content>
                  <v-list-item-title v-text="datas.tiporec"></v-list-item-title>
                </v-list-item-content>
                <v-list-item-content>
                  <v-list-item-title v-text="datas.edad"></v-list-item-title>
                </v-list-item-content>
                <v-list-item-content>
                  <v-list-item-title v-text="datas.ciudad"></v-list-item-title>
                </v-list-item-content>
                <v-list-item-content>
                  <v-list-item-title v-text="datas.genero"></v-list-item-title>
                </v-list-item-content>
                <v-btn color="red" fab elevation="2" x-small v-on:click="Delete(datas.id)">
                  <v-icon>mdi-minus</v-icon>
                </v-btn>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-card>
      </v-col>
    </v-row>
    <v-row v-if="visible === true && showModify === false">
      <h3>Agregar datos nuevo caso</h3>
    </v-row>
    <v-row>
      <v-col cols="2" v-if="visible === true && showModify === false">
        <v-list>
          <v-list-group :value="false">
            <template v-slot:activator>
              <v-list-item-title>Atención</v-list-item-title>
            </template>
            <v-list-item v-for="status in atention" link>
              <v-list-item-title v-text="status" v-on:click="atentionValue = status"></v-list-item-title>
            </v-list-item>
          </v-list-group>
        </v-list>
      </v-col>
      <v-col cols="2" v-if="visible === true && showModify === false">
        <v-list>
          <v-list-group :value="false">
            <template v-slot:activator>
              <v-list-item-title>Estado</v-list-item-title>
            </template>
            <v-list-item v-for="status in statusCov" link>
              <v-list-item-title v-text="status" v-on:click="statusValue = status"></v-list-item-title>
            </v-list-item>
          </v-list-group>
        </v-list>
      </v-col>
      <v-col cols="2" v-if="visible === true && showModify === false">
        <v-list>
          <v-list-group :value="false">
            <template v-slot:activator>
              <v-list-item-title>Ciudad</v-list-item-title>
            </template>
            <v-list-item v-for="city in cities" link>
              <v-list-item-title v-text="city" v-on:click="cityValue = city"></v-list-item-title>
            </v-list-item>
          </v-list-group>
        </v-list>
      </v-col>
      <v-col cols="3" v-if="visible === true && showModify === false">
        <v-list>
          <v-list-group :value="false">
            <template v-slot:activator>
              <v-list-item-title>Recuperación</v-list-item-title>
            </template>
            <v-list-item v-for="status in healing" link>
              <v-list-item-title v-text="status" v-on:click="healingValue = status"></v-list-item-title>
            </v-list-item>
          </v-list-group>
        </v-list>
      </v-col>
      <v-col cols="2" v-if="visible === true && showModify === false">
        <v-list>
          <v-list-group :value="false">
            <template v-slot:activator>
              <v-list-item-title>Genero</v-list-item-title>
            </template>
            <v-list-item link>
              <v-list-item-title v-on:click="genderValue = 'F'">Femenino</v-list-item-title>
            </v-list-item>
            <v-list-item link>
              <v-list-item-title v-on:click="genderValue = 'M'">Masculino</v-list-item-title>
            </v-list-item>
          </v-list-group>
        </v-list>
      </v-col>
      <v-col cols="1" v-if="visible === true && showModify === false">
        <v-text-field label="Edad" v-model="age"></v-text-field>
      </v-col>
      <v-col cols="1">
        <v-btn color="green" fab dark small absolute right v-on:click="Add()">
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </v-col>
    </v-row>
    <br />
    <br />
    <v-row v-if="visible === false && showModify === true">
      <h3>Modificar datos caso</h3>
    </v-row>
    <v-row>
      <v-col cols="1" v-if="visible === false && showModify === true">
        <v-text-field label="Id" v-model="index"></v-text-field>
      </v-col>
      <v-col cols="2" v-if="visible === false && showModify === true">
        <v-list>
          <v-list-group :value="false">
            <template v-slot:activator>
              <v-list-item-title>Atención</v-list-item-title>
            </template>
            <v-list-item v-for="status in atention" link>
              <v-list-item-title v-text="status" v-on:click="atentionValue = status"></v-list-item-title>
            </v-list-item>
          </v-list-group>
        </v-list>
      </v-col>
      <v-col cols="2" v-if="visible === false && showModify === true">
        <v-list>
          <v-list-group :value="false">
            <template v-slot:activator>
              <v-list-item-title>Estado</v-list-item-title>
            </template>
            <v-list-item v-for="status in statusCov" link>
              <v-list-item-title v-text="status" v-on:click="statusValue = status"></v-list-item-title>
            </v-list-item>
          </v-list-group>
        </v-list>
      </v-col>
      <v-col cols="2" v-if="visible === false && showModify === true">
        <v-list>
          <v-list-group :value="false">
            <template v-slot:activator>
              <v-list-item-title>Ciudad</v-list-item-title>
            </template>
            <v-list-item v-for="city in cities" link>
              <v-list-item-title v-text="city" v-on:click="cityValue = city"></v-list-item-title>
            </v-list-item>
          </v-list-group>
        </v-list>
      </v-col>
      <v-col cols="2" v-if="visible === false && showModify === true">
        <v-list>
          <v-list-group :value="false">
            <template v-slot:activator>
              <v-list-item-title>Recuperación</v-list-item-title>
            </template>
            <v-list-item v-for="status in healing" link>
              <v-list-item-title v-text="status" v-on:click="healingValue = status"></v-list-item-title>
            </v-list-item>
          </v-list-group>
        </v-list>
      </v-col>
      <v-col cols="2" v-if="visible === false && showModify === true">
        <v-list>
          <v-list-group :value="false">
            <template v-slot:activator>
              <v-list-item-title>Genero</v-list-item-title>
            </template>
            <v-list-item link>
              <v-list-item-title v-on:click="genderValue = 'F'">Femenino</v-list-item-title>
            </v-list-item>
            <v-list-item link>
              <v-list-item-title v-on:click="genderValue = 'M'">Masculino</v-list-item-title>
            </v-list-item>
          </v-list-group>
        </v-list>
      </v-col>
      <v-col cols="1" v-if="visible === false && showModify === true">
        <v-text-field label="Edad" v-model="age"></v-text-field>
      </v-col>
      <v-col cols="1">
        <v-btn color="blue" fab dark small absolute right v-on:click="Modify()">
          <v-icon>mdi-check</v-icon>
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from "axios";

export default {
  name: "App",
  data: () => ({
    return: {
      data: [],
    },
    visible: false,
    gender: null,
    state: null,
    city: null,
    atentionValue: null,
    statusValue: null,
    cityValue: null,
    healingValue: null,
    genderValue: null,
    age: "",
    show: false,
    id: null,
    index: null,
    showModify: false,
    statusList: [],
    statusCov: [],
    atention: [],
    healing: [],
    cities: [],
    citiesList: [],
    patient: null,
    dataPage: {},
  }),
  created: function () {
    this.Consult(),
      setInterval(() => {
        this.Consult();
      }, 1000 * 60 * 10);
  },
  methods: {
    /*
    Método que se encarga de realizar la consulta a la API y llenar con los datos
    */
    async Consult() {
      let response = await axios.get(
        "https://www.datos.gov.co/resource/gt2j-8ykr.json"
      );
      this.data = response.data;
      this.id = this.data.length;
      this.Status();
      this.Cities();
      this.Atention();
      this.Healing();
    },
    /*
    Método que se encarga de contar cuántos de los casos son de hombres y cuántos de mujeres
    */
    Genders(char) {
      this.gender = char;
    },
    /*
    Método que se encarga de enumerar los diferentes estados que se pueden presentar
    */
    Status() {
      let status = [];
      this.data.map((list) => {
        status.push(list.estado);
      });
      this.statusCov = [...new Set(status)];
    },
    /*
    Método que se encarga de enumerar los diferentes tipos de atención que se pueden presentar
    */
    Atention() {
      let status = [];
      this.data.map((list) => {
        status.push(list.atenci_n);
      });
      this.atention = [...new Set(status)];
    },
    /*
    Método que se encarga de enumerar los diferentes tipos de recuperacion que se pueden presentar
    */
    Healing() {
      let status = [];
      this.data.map((list) => {
        status.push(list.tipo_recuperaci_n);
      });
      this.healing = [...new Set(status)];
    },
    GraphStates(state) {
      this.state = state;
    },
    /*
    Método que se encarga de enumerar las ciudades que pueden tener caso
    */
    Cities() {
      this.data.map((city) => {
        this.citiesList.push(city.ciudad_de_ubicaci_n);
      });
      this.cities = [...new Set(this.citiesList)];
      this.cities.sort();
    },
    GraphCities(city) {
      this.city = city;
    },
    /*
    Método que se encarga de obtener la información dependiendo de los filtros que se hagan
    */
    ShowData() {
      this.show = true;
      this.statusList = [];
      if (this.gender === null && this.state === null && this.city === null) {
        this.data.map((list) => {
          let info = new Object();
          info.id = list.id_de_caso;
          info.estado = list.estado;
          info.atencion = list.atenci_n;
          info.tiporec = list.tipo_recuperaci_n;
          info.edad = list.edad;
          info.ciudad = list.ciudad_de_ubicaci_n;
          info.genero = list.sexo;
          this.statusList.push(info);
        });
      } else if (
        this.gender !== null &&
        this.state === null &&
        this.city === null
      ) {
        this.data.map((list) => {
          if (list.sexo === this.gender) {
            let info = new Object();
            info.id = list.id_de_caso;
            info.estado = list.estado;
            info.atencion = list.atenci_n;
            info.tiporec = list.tipo_recuperaci_n;
            info.edad = list.edad;
            info.ciudad = list.ciudad_de_ubicaci_n;
            info.genero = list.sexo;
            this.statusList.push(info);
          }
        });
      } else if (
        this.gender !== null &&
        this.state !== null &&
        this.city === null
      ) {
        this.data.map((list) => {
          if (list.sexo === this.gender && list.estado === this.state) {
            let info = new Object();
            info.id = list.id_de_caso;
            info.estado = list.estado;
            info.atencion = list.atenci_n;
            info.tiporec = list.tipo_recuperaci_n;
            info.edad = list.edad;
            info.ciudad = list.ciudad_de_ubicaci_n;
            info.genero = list.sexo;
            this.statusList.push(info);
          }
        });
      } else if (
        this.gender !== null &&
        this.state === null &&
        this.city !== null
      ) {
        this.data.map((list) => {
          if (
            list.sexo === this.gender &&
            list.ciudad_de_ubicaci_n === this.city
          ) {
            let info = new Object();
            info.id = list.id_de_caso;
            info.estado = list.estado;
            info.atencion = list.atenci_n;
            info.tiporec = list.tipo_recuperaci_n;
            info.edad = list.edad;
            info.ciudad = list.ciudad_de_ubicaci_n;
            info.genero = list.sexo;
            this.statusList.push(info);
          }
        });
      } else if (
        this.gender === null &&
        this.state !== null &&
        this.city === null
      ) {
        this.data.map((list) => {
          if (list.estado === this.state) {
            let info = new Object();
            info.id = list.id_de_caso;
            info.estado = list.estado;
            info.atencion = list.atenci_n;
            info.tiporec = list.tipo_recuperaci_n;
            info.edad = list.edad;
            info.ciudad = list.ciudad_de_ubicaci_n;
            info.genero = list.sexo;
            this.statusList.push(info);
          }
        });
      } else if (
        this.gender === null &&
        this.state !== null &&
        this.city !== null
      ) {
        this.data.map((list) => {
          if (
            list.sexo === this.gender &&
            list.ciudad_de_ubicaci_n === this.city
          ) {
            let info = new Object();
            info.id = list.id_de_caso;
            info.estado = list.estado;
            info.atencion = list.atenci_n;
            info.tiporec = list.tipo_recuperaci_n;
            info.edad = list.edad;
            info.ciudad = list.ciudad_de_ubicaci_n;
            info.genero = list.sexo;
            this.statusList.push(info);
          }
        });
      } else if (
        this.gender === null &&
        this.state === null &&
        this.city !== null
      ) {
        this.data.map((list) => {
          if (list.ciudad_de_ubicaci_n === this.city) {
            let info = new Object();
            info.id = list.id_de_caso;
            info.estado = list.estado;
            info.atencion = list.atenci_n;
            info.tiporec = list.tipo_recuperaci_n;
            info.edad = list.edad;
            info.ciudad = list.ciudad_de_ubicaci_n;
            info.genero = list.sexo;
            this.statusList.push(info);
          }
        });
      } else if (
        this.gender !== null &&
        this.state !== null &&
        this.city !== null
      ) {
        this.data.map((list) => {
          if (
            list.sexo === this.gender &&
            list.ciudad_de_ubicaci_n === this.city &&
            list.estado === this.state
          ) {
            let info = new Object();
            info.id = list.id_de_caso;
            info.estado = list.estado;
            info.atencion = list.atenci_n;
            info.tiporec = list.tipo_recuperaci_n;
            info.edad = list.edad;
            info.ciudad = list.ciudad_de_ubicaci_n;
            info.genero = list.sexo;
            this.statusList.push(info);
          }
        });
      }
      this.gender = null;
      this.state = null;
      this.city = null;
    },
    /*
    Método que se encarga de adicionar un nuevo caso
    */
    Add() {
      if (this.visible === true) {
        let info = new Object();
        this.id = this.id + 1;
        info.id_de_caso = this.id;
        info.estado = this.statusValue;
        info.atenci_n = this.atentionValue;
        info.tipo_recuperaci_n = this.healingValue;
        info.edad = this.age;
        info.ciudad_de_ubicaci_n = this.cityValue;
        info.sexo = this.genderValue;
        this.data.push(info);
        this.visible = false;
      } else {
        this.visible = true;
      }
    },
    /*
    Método que se encarga de eliminar un caso existente
    */
    Delete(id) {
      for (let index = 0; index < this.data.length; index++) {
        if (this.data[index].id_de_caso === id) {
          this.data.splice(index, 1);
          break;
        }
      }
    },
    /*
    Método que se encarga de modificar un caso existente
    */
    Modify() {
      if (this.showModify === true) {
        this.data[this.index - 1].estado = this.statusValue;
        this.data[this.index - 1].atenci_n = this.atentionValue;
        this.data[this.index - 1].tipo_recuperaci_n = this.healingValue;
        this.data[this.index - 1].edad = this.age;
        this.data[this.index - 1].ciudad_de_ubicaci_n = this.cityValue;
        this.data[this.index - 1].sexo = this.genderValue;



        /*console.log(this.index);
        console.log(this.data[1000].id_de_caso);
        console.log('Tamaño del array ' + this.data.length);*/
        /*for (let index = 0; index < this.data.length; index++) {
          if (this.data[index].id_de_caso === this.index) {
            this.data[index].estado = this.statusValue;
            this.data[index].atenci_n = this.atentionValue;
            this.data[index].tipo_recuperaci_n = this.healingValue;
            this.data[index].edad = this.age;
            this.data[index].ciudad_de_ubicaci_n = this.cityValue;
            this.data[index].sexo = this.genderValue;
            console.log(this.age);
            //break;
          }
        }*/
        this.showModify = false;
      } else {
        this.showModify = true;
      }
    },
  },
};
</script>

<style scoped lang="scss">
h3 {
  color: black;
  text-align: center;
}
</style>