<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
          transition="scale-transition"
          width="40"
        />
        <h4>COVID</h4>
      </div>

      <v-spacer></v-spacer>
    </v-app-bar>

    <v-main>
      <Consults/>
    </v-main>
  </v-app>
</template>

<script>
import Consults from './components/Consults.vue';

export default {
  name: 'App',

  components: {
    Consults,
  },

  data: () => ({
    //
  }),
};
</script>

<style scoped lang="scss">
h4 {
  color: black;
}
</style>
